body{ 
    height: (1920*3)px;
    width: 1080px;
    display: grid;
    grid-template-areas: 
    'sid log log'
    'sid rec rec'
    'sid rec rec' 
    'dif dif dif';
}
#logo{
    grid-area: log;
    /* margin: auto; */
    height: auto;
    width: 1225px;
    border: solid black 2px;
}
#sid_menu{
grid-area: sid;    
height: 100%;
width: 30%;
border: solid black 2px;
}
#recept{
grid-area: rec;
height: 95%;
width: 70%;
border: solid black 2px;
}
#recept_dif,#ext_link{
    grid-area: dif;
height: 20%;
width: 100%;
border: solid black 2px;
}